<?xml version="1.0"?>
<config>
    <modules>
        <Petryk_Action>
            <version>0.1.2</version>
        </Petryk_Action>
    </modules>
    <global>
        <blocks>
            <petryk_action>
                <class>Petryk_Action_Block</class>
            </petryk_action>
        </blocks>
        <helpers>
            <petryk_action>
                <class>Petryk_Action_Helper</class>
            </petryk_action>
        </helpers>
        <models>
            <petryk_action>
                <class>Petryk_Action_Model</class>
                <resourceModel>petryk_action_resource</resourceModel>
            </petryk_action>
            <petryk_action_resource>
                <class>Petryk_Action_Model_Resource</class>
                <entities>
                    <action>
                        <table>petryk_action</table>
                    </action>
                    <action_product>
                        <table>petryk_action_product</table>
                    </action_product>
                </entities>
            </petryk_action_resource>
        </models>
        <resources>
            <petryk_action_setup>
                <setup>
                    <module>Petryk_Action</module>
                </setup>
            </petryk_action_setup>
        </resources>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <petryk_action>
                        <class>petryk_action/observer</class>
                        <method>addLinkToTopmenu</method>
                    </petryk_action>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <frontend>
        <routers>
            <petryk_action>
                <use>standard</use>
                <args>
                    <module>Petryk_Action</module>
                    <frontName>petryk_action</frontName>
                </args>
            </petryk_action>
        </routers>
        <layout>
            <updates>
                <petryk_action>
                    <file>petryk/action.xml</file>
                </petryk_action>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <petryk_action before="Mage_Adminhtml">Petryk_Action_Adminhtml</petryk_action>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <petryk_action>
                    <file>petryk/action.xml</file>
                </petryk_action>
            </updates>
        </layout>
    </adminhtml>
</config>
