<?xml version="1.0"?>
<config>
    <modules>
        <Petryk_Action>
            <version>0.1.0</version>
        </Petryk_Action>
    </modules>
    <global>
        <helpers>
            <petryk_action>
                <class>Petryk_Action_Helper</class>
            </petryk_action>
        </helpers>
    </global>
</config>
