<?xml version="1.0"?>
<config>
    <modules>
        <Petryk_Action>
            <version>0.1.1</version>
        </Petryk_Action>
    </modules>
    <global>
        <blocks>
            <petryk_action>
                <class>Petryk_Action_Block</class>
            </petryk_action>
        </blocks>
        <helpers>
            <petryk_action>
                <class>Petryk_Action_Helper</class>
            </petryk_action>
        </helpers>
        <models>
            <petryk_action>
                <class>Petryk_Action_Model</class>
                <resourceModel>petryk_action_resource</resourceModel>
            </petryk_action>
            <petryk_action_resource>
                <class>Petryk_Action_Model_Resource</class>
                <entities>
                    <action>
                        <table>petryk_action</table>
                    </action>
                </entities>
            </petryk_action_resource>
        </models>
        <resources>
            <petryk_action_setup>
                <setup>
                    <module>Petryk_Action</module>
                </setup>
            </petryk_action_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <petryk_action before="Mage_Adminhtml">Petryk_Action_Adminhtml</petryk_action>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <petryk_action>
                    <file>petryk/action.xml</file>
                </petryk_action>
            </updates>
        </layout>
    </adminhtml>
</config>
